* {
    background-color: beige;
    font-family: Georgia, serif;
}

h1, h2 {
    text-align:center;
    margin: 5vh;
    font-family: cursive;
}

h1 {
    color: rgb(238, 148, 148);
    text-shadow: 1px 1px 2px black;
}

h2 {
    color:coral;
    text-shadow: 1px 1px 2px black ;
}

#header, .ligne {
    text-align: center;
    /* width: max-content;  */
}

thead th {
    background-color: cadetblue;
}

th {
    background-color: rgb(224, 199, 165);
}
.cellule, .celluleHeader {
    border: solid black 1px;
    /* flex:1; */
    padding : 20px;
    /* background-color:tan; */
}

.ligneCaché {
    display: none;
}

#triReset, #boutonAddLigne, #validationAddLigne, #jsonSend {
    border: solid black 1px;
    background-color:tomato;    
    padding : 2vw;
    width: max-content;
    margin: 2vw;
}

#filename, #filtre {
    border: solid black 2px;
    padding : 2vw;
    width: max-content;
    background-color :dodgerblue;
    font-size: medium;
} 

#filtre {
    background-color :lightgreen;   
}

#filename:focus, #filtre:focus {
    font-size: x-large;
}

.img {
    width : 100%;
    max-width: 15vw;
    height:fit-content;
    background-color:rgb(224, 199, 165);
}



.flexligne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.section {
    border: solid black 2px;
    padding: 2vh;
    margin : 2vh;
    background-color: rgb(235, 235, 205);
}

.section * {
    background-color: rgb(235, 235, 205);
}


table {
    margin-left: auto;
    margin-right: auto;
    /* border: solid black 2px; */
}



ul, .liste {
    list-style: disc;
    
}

th ul, th li {
    background-color: rgb(224, 199, 165);
}

#inputNewLines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.italic {
    font-style: italic;
}

#jsonSend {
    background-color :chartreuse;
}

#triReset {
    background-color:mintcream;
}

thead {
    margin-bottom: 4px;
}

.copypaste {
    border: solid black 1px;
    background-color :blanchedalmond;
    font-style: italic;
}

.addNewLine {
    border: solid black 1px;
    background-color :darkkhaki;
    margin: 2vw;
    text-align: center;
    /* width: fit-content; */
}

.addNewLine:focus {
    font-size: x-large;
}

#validationAddLigne{
    margin-left: auto;
    margin-right: auto;
    background-color :rgb(252, 252, 159); ; 
}
